<div class="game-container">
    <div class="row">
        <div class="extra-options col-12 col-sm-3 d-flex flex-column">
            <div class="row col-12 col-sm-7 py-2">
                <div class="col-6 col-sm-12 mb-2">
                    <app-settings-button></app-settings-button>
                </div>
                <div class="col-6 col-sm-12 mb-2">
                    <app-coffee-button></app-coffee-button>
                </div>
                <div class="col-6 col-sm-12 mb-2">
                    <app-restart-game-buttom (restartEvent)="resetGameAction()"></app-restart-game-buttom>
                </div>
                <div class="col-6 col-sm-12 mb-2">
                    <app-language-selector></app-language-selector>
                </div>
                @if (devMode) {
                <div class="col-6 col-sm-12 mb-2 position-relative">
                    <button type="button" class="btn btn-warning w-100" (click)="toggleDevMenu()">
                        <ng-icon name="bootstrapWrench"></ng-icon> Dev
                    </button>
                    @if (devMenuOpen) {
                    <div class="dev-menu">
                        <div class="form-check form-switch mb-1">
                            <input class="form-check-input" type="checkbox" id="fastSpins"
                                [checked]="settings.fastSpins" (change)="toggleFastSpins()">
                            <label class="form-check-label" for="fastSpins">Fast Spins</label>
                        </div>
                        <div class="form-check form-switch mb-1">
                            <input class="form-check-input" type="checkbox" id="showChances"
                                [checked]="settings.showChances" (change)="toggleShowChances()">
                            <label class="form-check-label" for="showChances">Show Chances</label>
                        </div>
                        <div class="form-check form-switch mb-1">
                            <input class="form-check-input" type="checkbox" id="showEventLog"
                                [checked]="settings.showEventLog" (change)="toggleShowEventLog()">
                            <label class="form-check-label" for="showEventLog">Event Log</label>
                        </div>
                        <div class="form-check form-switch mb-1">
                            <input class="form-check-input" type="checkbox" id="showPower"
                                [checked]="settings.showPower" (change)="toggleShowPower()">
                            <label class="form-check-label" for="showPower">Show Power</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="showSort"
                                [checked]="settings.showSort" (change)="toggleShowSort()">
                            <label class="form-check-label" for="showSort">Sort Party</label>
                        </div>
                    </div>
                    }
                </div>
                }
            </div>
                <!-- <button type="button"
                        class="btn me-sm-auto"
                        (click)="mapIsCollapsed = !mapIsCollapsed"
                        [attr.aria-expanded]="!mapIsCollapsed"
                        aria-controls="townMapCollapse"
                        [ngClass]="(darkMode | async) ? 'btn-outline-light' : 'btn-outline-dark'">
                    <ng-icon name="bootstrapMap"></ng-icon> Town Map
                </button> -->
        </div>
        <div class="main-game col-12 col-sm-5">
            <app-roulette-container
                (resetGameEvent)="resetGame()">
            </app-roulette-container>
            @if (devMode && settings.showEventLog) {
            <div class="event-log">
                <small class="text-warning fw-bold">Event Log</small>
                <div class="event-log-box">
                    @for (event of (eventLogService.events$ | async); track $index) {
                    <div class="event-log-entry">{{ event }}</div>
                    }
                </div>
            </div>
            }
        </div>

        <div class="trainer-info col-12 col-sm-4">
            <div class="trainer-team">
                <app-trainer-team></app-trainer-team>
            </div>
            <div class="items">
                <app-items (rareCandyInterrupt)="rareCandyInterrupt($event)"></app-items>
            </div>
        </div>
    </div>
</div>




